<md-toolbar class="md-whiteframe-z2 md-hue-6">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="/assets/material-design-icons/navigation/svg/production/ic_menu_24px.svg"></md-icon>
        </md-button>
        <h2>
            <span>Shift Exchange</span>
        </h2>
        <span flex></span>

        <!-- TODO turn this into a menu with 'signout', 'profile' etc (currently no support for menus in ng-material -->
        <md-button class="md-fab" aria-label="Profile" ng-click="launchProfile()">
            <md-icon md-svg-icon="/assets/material-design-icons/social/svg/production/ic_person_24px.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<div class="jcrw-hanging-navbar" layout="column" ng-if="windowLocation != '/will'">
    <md-button href="#/" class="md-icon-button" ng-class="classIfActive('/', 'md-primary')" aria-label="browse">
        <md-icon md-svg-icon="/assets/material-design-icons/action/svg/production/ic_list_24px.svg"> </md-icon>
    </md-button>
    <md-button href="#/me" class="md-icon-button" ng-class="classIfActive('/me', 'md-primary')" aria-label="My Shifts">
        <md-icon md-svg-icon="/assets/material-design-icons/action/svg/production/ic_account_circle_18px.svg"> </md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="/assets/material-design-icons/navigation/svg/production/ic_more_horiz_18px.svg"> </md-icon>
    </md-button>
</div>