<md-list-item class="md-2-line jcrw-row" ng-click="editShift(shift)">
    <div class="md-list-item-text">
        <div layout="row">
        <h3>{{shift.title}}</h3>
            <div flex ng-if="shift.profile.first_name"><span class="jcrw_posted_by ng-binding">Posted By: {{ shift.profile.first_name }}</span></div>
        </div>
        <h4>
            <md-icon md-svg-icon="/assets/material-design-icons/maps/svg/production/ic_flight_24px.svg"></md-icon>
            <span ng-repeat="airport in shift.airports">
                <md-icon md-svg-icon="/assets/material-design-icons/navigation/svg/production/ic_chevron_right_18px.svg"></md-icon>
                {{airport.iata}}
            </span>
            {{shift.destination}}
        </h4>
        <!--<span class="md-whiteframe-z1 md-secondary md-warn">-->
            <!--{{shift.price}}-->
        <!--</span>-->
        <md-button class="md-secondary md-raised md-accent" ng-show="shift.price">
            {{ shift.price | currency }}
        </md-button>
    </div>
    <md-divider ng-if="!last"></md-divider>
</md-list-item>
