<div ng-controller="NavListCtrl as navlist" layout="vertical">

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <div layout="vertical" flex>

            <md-sidenav class="md-sidenav-left md-whiteframe-z2 jcrw-navlist" md-component-id="left" md-is-locked-open ="$mdMedia('min-width: 800px')">
                <md-list>
                    <md-list-item ng-repeat="action in navlist.actions" ng-click="navlist.selectAction(action.name)">
                        {{ action.name }}
                        <md-icon md-svg-icon="{{ action.icon }}" ng-class="navlist.classIfActive(action.name,'md-primary')" class="md-icon-button"> </md-icon>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-sidenav>

            <md-content flex id="content">
                <div ng-switch="navlist.contentView">
                    <my-shift-browse ng-switch-when="My Shifts"></my-shift-browse>
                    <shift-browse ng-switch-when="Available Shifts"></shift-browse>
                </div>
            </md-content>
        </div>
    </div>
</div>