<md-dialog aria-label="Group" class="groupDialog">
    <md-subheader>
        <md-icon md-svg-icon="/assets/material-design-icons/navigation/svg/production/ic_close_24px.svg" ng-click="cancel()" class="close"></md-icon>
        <h4 class="modal-title" id="myModalLabel" ng-bind="title"></h4>
    </md-subheader>
    <md-divider></md-divider>
    <md-dialog-content class="sticky-container">
        <div>
            <form name="groupForm" novalidate>
                <md-input-container>
                    <label for="title">Shift Title</label>
                    <input id="title" required ng-model="group.name" ng-model-options="{'updateOn': blur}" name="title">
                    <div ng-messages="groupForm.title.$error" ng-show="groupForm.title.$touched && groupForm.title.$invalid">
                        <div ng-message="required">A title is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="organization">Organization</label>
                    <input id="organization" ng-model="group.organization" name="organization"/>
                </md-input-container>
                <md-input-container>
                    <label for="description">Description</label>
                    <textarea id="description" ng-model="group.description" name="description"></textarea>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-raised md-warn" ng-click="delete()" ng-if="group.id">Delete</md-button>
        <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
    </div>
</md-dialog>