<img src="/assets/index_background.jpg" class="bg">
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
  <!--<div class="container">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="#">Shift Exchange</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div layout="column" layout layout-align="center center" class="whiteframeCover" ng-controller="WelcomeController">
  <md-whiteframe class="md-whiteframe-z3" layout="" layout-align="center center">
    <div layout="column" layout-align="center center">
      <h1>Welcome!</h1>
      <p>This is a site where American Airlines employess can swap shifts.  See below for some shifts available now!</p>
      <p>
      <div layout="row" layout-padding layout-align="center center">
        <md-button class="md-primary md-raised">Create an Account to Start</md-button>
        <md-button class="md-primary md-raised" ng-click="signIn()">Sign in</md-button>
      </div>
      </p>
    </div>
  </md-whiteframe>
</div>