<md-button class="md-raised md-accent hue-2 md-button" ng-click="newShift()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Shift
</md-button>

<table class="table table-hover" style="margin-top: 60px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Origin</th>
            <th>Destination</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="shift in shifts" ng-click="editShift(shift)">
            <td>{{shift.id}}</td>
            <td>{{shift.title}}</td>
            <td>{{shift.origin}}</td>
            <td>{{shift.destination}}</td>
        </tr>
    </tbody>
</table>
