<md-dialog aria-label="Edit Profile" class="newShiftDialog">
    <md-subheader>
        <md-icon md-svg-icon="/assets/material-design-icons/navigation/svg/production/ic_close_24px.svg" ng-click="cancel()" class="close"></md-icon>
        <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
    </md-subheader>
    <md-divider></md-divider>
    <md-dialog-content class="sticky-container">
        <div>
            <form name="editProfileForm">
                <md-input-container>
                    <label for="first_name">First Name</label>
                    <input id="first_name" required ng-model="theUser.first_name" name="first_name">
                    <div ng-messages="theUser.first_name.$error" ng-if="theUser.first_name.$dirty">
                        <div ng-message="required">A first name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="last_name">Last Name</label>
                    <input id="last_name" required ng-model="theUser.last_name" name="last_name"/>
                    <div ng-messages="theUser.last_name.$error" ng-if="theUser.last_name.$dirty">
                        <div ng-message="required">An last name is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="phone">Phone</label>
                    <input id="phone" ng-model="theUser.phone" name="phone" />
                    <div ng-messages="theUser.phone.$error" ng-if="theUser.phone.$dirty">
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="region">Region</label>
                    <input id="region" ng-model="theUser.region" name="region"/>
                </md-input-container>
                <md-input-container>
                    <label for="airline">Airline</label>
                    <input id="airline" ng-model="theUser.airline" name="airline"/>
                </md-input-container>
                <md-input-container>
                    <label for="home_origin">Home Airport</label>
                    <input id="home_origin" ng-model="theUser.home_origin" name="home_origin" capitalize minlength="3" maxlength="3"/>
                    <div ng-messages="theUser.home_origin.$error" ng-if="theUser.home_origin.$dirty">
                        <div ng-message="minlength">Airport codes must be 3 characters.</div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-raised" ng-click="cancel()">Close</md-button>
        <md-button class="md-raised md-primary" ng-click="save()">Add</md-button>
    </div>
</md-dialog>