<md-dialog aria-label="Edit Shift" class="editShiftDialog">
        <md-subheader>
            <md-icon md-svg-icon="/assets/material-design-icons/navigation/svg/production/ic_close_24px.svg" ng-click="cancel()" class="close"></md-icon>
            <h4 class="modal-title" id="myModalLabel">Edit a shift</h4>
        </md-subheader>
    <md-divider></md-divider>
    <md-dialog-content class="sticky-container">
    <div>
            <form name="editShiftForm">
                <md-input-container>
                    <label for="title">Shift Title</label>
                    <input id="title" required ng-model="theShift.title" name="title">
                    <div ng-messages="editShiftForm.title.$error">
                        <div ng-message="required">A title is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="origin">Origin</label>
                    <input id="origin" required ng-model="theShift.origin" name="origin" minlength="3" maxlength="3" capitalize/>
                    <div ng-messages="editShiftForm.origin.$error">
                        <div ng-message="required">An origin is required.</div>
                        <div ng-message="minlength">Please enter a 3 letter airport code.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="destination">Destination</label>
                    <input id="destination" required ng-model="theShift.destination" name="destination" minlength="3"  maxlength="3" capitalize/>
                    <div ng-messages="editShiftForm.destination.$error">
                        <div ng-message="required">A destination is required.</div>
                        <div ng-message="minlength">Please enter a 3 letter airport code.</div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-raised" ng-click="cancel()">Close</md-button>
        <md-button class="md-raised md-primary" ng-click="update()">Update</md-button>
    </div>
</md-dialog>