/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "../bower_components/angular-material/angular-material.min";
@import url(http://fonts.googleapis.com/css?family=Roboto:500);

body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

.ng-scope { height: 100%; }

.shift-logo {
  background: url('/assets/logo_large.png');
  background-size: cover;
  height: 250px;
}

md-dialog{
  min-width: 500px;
}

.jcrw-row:hover {
  background-color: #eeeeee;
}

.jcrw-shifts-content {
  padding: 0px 72px;
}

.jcrw-shifts-content .md-whiteframe-z1 {
  background-color: white;
}

.jcrw-header {
  padding: 0px 16px;
}

.jcrw-hanging-navbar {
  height: 0px;
}

.jcrw-hanging-navbar .md-icon-button {
  margin-top: 20px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.5s;
  -moz-transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.5s;
  -ms-transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.5s;
  -o-transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.5s;
  transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750) 0.5s;
}

.animate-show.ng-hide{
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
