<md-dialog aria-label="New Shift" class="newShiftDialog">
    <md-subheader>
        <md-icon md-svg-icon="/assets/material-design-icons/navigation/svg/production/ic_close_24px.svg" ng-click="cancel()" class="close"></md-icon>
        <h4 class="modal-title" id="myModalLabel">Add New Shift</h4>
    </md-subheader>
    <md-divider></md-divider>
    <md-dialog-content class="sticky-container">
        <div>
            <form name="newShiftForm">
                <md-input-container>
                    <label for="title">Shift Title</label>
                    <input id="title" required ng-model="theShift.title" ng-model-options="{debounce: 250}" name="title">
                    <div ng-messages="newShiftForm.title.$error" ng-if="newShiftForm.title.$dirty">
                        <div ng-message="required">A title is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="origin">Origin</label>
                    <input id="origin" required ng-model="theShift.origin" name="origin" minlength="3" maxlength="3" capitalize/>
                    <div ng-messages="newShiftForm.origin.$error" ng-if="newShiftForm.origin.$dirty">
                        <div ng-message="required">An origin is required.</div>
                        <div ng-message="minlength">Please enter a 3 letter airport code.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="destination">Destination</label>
                    <input id="destination" required ng-model="theShift.destination" name="destination" minlength="3" maxlength="3" capitalize/>
                    <div ng-messages="newShiftForm.destination.$error" ng-if="newShiftForm.destination.$dirty">
                        <div ng-message="required">A destination is required.</div>
                        <div ng-message="minlength">Please enter a 3 letter airport code.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label for="price">Price</label>
                    <input id="price" required ng-model="theShift.price" name="price"/>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-raised" ng-click="cancel()">Close</md-button>
        <md-button class="md-raised md-primary" ng-click="save()">Add</md-button>
    </div>
</md-dialog>