<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Post a new Shift</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="title1">Shift Title</label>
                <input class="form-control" id="title1" placeholder="ex: Megan's Shift" ng-model="theShift.title">
            </div>
            <div class="form-group">
                <label for="origin1">Origin</label>
                <input class="form-control" id="origin1" placeholder="ex: JFK" ng-model="theShift.origin">
            </div>
            <div class="form-group">
                <label for="destination1">Destination</label>
                <input class="form-control" id="destination1" placeholder="ex: SAN" ng-model="theShift.destination">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
    </div>
</div>